<div class="container py-5 mt-5">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <h1 class="mb-4 text-center">{{ 'LEGAL.PRIVACY_TITLE' | translate }}</h1>
            <div class="content-section card p-4 shadow-sm border-0">
                <h3>{{ 'LEGAL.PRIVACY.SECTION1_TITLE' | translate }}</h3>
                <p>{{ 'LEGAL.PRIVACY.SECTION1_DESC' | translate }}</p>

                <h3 class="mt-4">{{ 'LEGAL.PRIVACY.SECTION2_TITLE' | translate }}</h3>
                <p>{{ 'LEGAL.PRIVACY.SECTION2_DESC' | translate }}</p>

                <h3 class="mt-4">{{ 'LEGAL.PRIVACY.SECTION3_TITLE' | translate }}</h3>
                <p>{{ 'LEGAL.PRIVACY.SECTION3_DESC' | translate }}</p>

                <h3 class="mt-4">{{ 'LEGAL.PRIVACY.SECTION4_TITLE' | translate }}</h3>
                <p>{{ 'LEGAL.PRIVACY.SECTION4_DESC' | translate }}</p>

                <h3 class="mt-4">{{ 'LEGAL.PRIVACY.SECTION5_TITLE' | translate }}</h3>
                <p>{{ 'LEGAL.PRIVACY.SECTION5_DESC' | translate }}</p>
            </div>
        </div>
    </div>
</div>